.img {
  height: 70px;
  width: 70px;
}
.listapp {
  list-style-type: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
  padding: 10px;
  width: 20%;
  border-radius: 20px;
}
